반복문: while

In [1]:
# 반복문 : while conditions(True/False) :
#          반복구문   
#          ...

cnt = 0

while cnt < 5 :
    print(cnt)
    cnt = cnt + 1 # 증가식

0
1
2
3
4

In [4]:
# 1~0 까지 출력, 홀수만 출력
cnt = 0

while cnt < 10 :
    cnt = cnt + 1 # 증가식
    if cnt % 2 == 1 :
        print(cnt)

1
3
5
7
9

In [5]:
# continue : 반복문 내에서 만나면 아래 코드를 실행하지 않고 블록 종료 => 조건식으로 간다

cnt = 0

while cnt < 10 :
    cnt += 1 # 증가식

    if cnt % 2 == 0 :
        continue
    print(cnt)

1
3
5
7
9

In [6]:
# break : 반복문 내에서 이 키워드를 만나면 반복문을 종료시킨다

cnt = 0

while True :
    cnt += 1
    print(cnt)

    if cnt > 5 :
        break

1
2
3
4
5
6

In [7]:
#for : 주로 시퀀스 데이터를 반복처리할 때 사용
#for var in list :

list_a = [1, 2, 3, 4, 5, 100, 200, 300]

In [9]:
for i in list_a:
    print(i, end = ', ')

1, 2, 3, 4, 5, 100, 200, 300,

In [10]:
list_b = [(1, 2), (3, 4), (5, 6)]
#        [t, t, t]
# a,b = (1, 2)

In [11]:
for n1, n2 in list_b:
    print(n1, n2)

1 2
3 4
5 6

In [22]:
# 5명의 학생의 영어시험 => 60 점 이상 pass 출력
# 5명의 학생의 영어 점수의 총점과 평균

scores = [80, 50, 70, 100, 55]
num = 0
sum = 0

for s in scores :
    num = num + 1
    # 합을 더해나가는 식
    sum = sum + s
    
    if s >= 60 :
        print(num, s, 'pass')
    else :
        print(num, s, 'Fail')
    
print('총점:', sum)
print('평균:', sum/len(scores))

1 80 pass
2 50 Fail
3 70 pass
4 100 pass
5 55 Fail
총점: 355
평균: 71.0

In [ ]:
# range 함수 : 일련번호를 담은 리스트 생성해주는 함수
# range(start, end, step)
# range(end)

for num in range(10) : # 0 ~ 10-1
    print(num, end = '   ')

0   1   2   3   4   5   6   7   8   9

In [ ]:
# range(start, end)
for num in range(3, 8) : # 0 ~ 10-1
    print(num, end = '   ')

3   4   5   6   7

In [27]:
# range(start, end)
for num in range(2, 11, 2):
    print(num, end = '   ')

2   4   6   8   10

In [31]:
#구구단: 2~9단 => 2~9
#각 단: 1~9까지 X => 1~9

for dan in range(2, 10) :
    print(dan, '단')
    # 이 블럭 안에서 각 단의 숫자에 1~9 까지 곱하는 연산을 해주어야 한다
    for i in range (1, 10) :
        print(f'{dan}X{i} = {dan*i}', end= ' ')

2 단
2X1 = 2 2X2 = 4 2X3 = 6 2X4 = 8 2X5 = 10 2X6 = 12 2X7 = 14 2X8 = 16 2X9 = 18 3 단
3X1 = 3 3X2 = 6 3X3 = 9 3X4 = 12 3X5 = 15 3X6 = 18 3X7 = 21 3X8 = 24 3X9 = 27 4 단
4X1 = 4 4X2 = 8 4X3 = 12 4X4 = 16 4X5 = 20 4X6 = 24 4X7 = 28 4X8 = 32 4X9 = 36 5 단
5X1 = 5 5X2 = 10 5X3 = 15 5X4 = 20 5X5 = 25 5X6 = 30 5X7 = 35 5X8 = 40 5X9 = 45 6 단
6X1 = 6 6X2 = 12 6X3 = 18 6X4 = 24 6X5 = 30 6X6 = 36 6X7 = 42 6X8 = 48 6X9 = 54 7 단
7X1 = 7 7X2 = 14 7X3 = 21 7X4 = 28 7X5 = 35 7X6 = 42 7X7 = 49 7X8 = 56 7X9 = 63 8 단
8X1 = 8 8X2 = 16 8X3 = 24 8X4 = 32 8X5 = 40 8X6 = 48 8X7 = 56 8X8 = 64 8X9 = 72 9 단
9X1 = 9 9X2 = 18 9X3 = 27 9X4 = 36 9X5 = 45 9X6 = 54 9X7 = 63 9X8 = 72 9X9 = 81

In [1]:
# 리스트의 컴프리헨션
# [표현식 for var in list if 조건식(변수)]

list_c = [1,2,3,4] # *3 => [3, 6, 9, 12]

list_result = []

for num in list_c:
    list_result.append(num*3)
print(list_result)

[3, 6, 9, 12]

In [5]:
list_result2 = [num*3 for num in list_c if num%2 ==1]
print(list_result2)

[3, 9]

In [6]:
# 한수 : 데이터를 받고 처리해서 결과를 반환하는 코드들의 묶음
# 이 코드들을 필요한 시점에 호출해서 사용
# 공통코드들의 줄이고 유지보수와 확장성을 늘리는 장점
# def 함수이름(매개변수, 매개변수, 매개변수,.....) :
# ....처리작업 코드들....
#   return 데이터(파이썬에서 제공하는 타입의 모든 데이터가 가능)

In [7]:
# 함수 정의 : 두개 숫자를 받아서 더하기한 결과를 반환하는 함수
# 이름: add
# 매개변수 : n1, n2
# 처리: n1 + n2
# 반환: return n1 + n2

def add(n1, n2) :
    result = n1 + n2
    return result

add(10,20)

30

In [8]:
# 함수 타입 => 1급 객체

print(type(add))

<class 'function'>

In [ ]:
# 매개변수가 없는 함수

def alert_msg():
    msg = '안녕하세요. 회원님! 로그인 되었습니다.'
    return msg

In [11]:
alert_msg()

'안녕하세요. 회워님! 로그인 되었습니다.'

In [15]:
# 매개변수는 있고, 반환값이 없는 함수
# 숫자 두개를 받아
# 덧셈의 연산을 하고, 연산의 결과를 출력하는 함수

def add_print(n1, n2):
    print(f'{n1}+{n2} = {n1+n2}')

In [14]:
add_print(100, 200)

100+200 =300

In [16]:
result1 = add_print(100, 200)
print(result1)

100+200 = 300
None

In [20]:
# 매개변수 없고, 반환 없는 함수
def display_menu() :
    menu = ''' -MENU-
    1. 아메리카노
    2. 라떼
    3.에스프레스
    '''
    print(menu)

In [21]:
display_menu()

 -MENU-
    1. 아메리카노
    2. 라떼
    3.에스프레스

In [22]:
# 매개변수를 지정해서 함수 호출

def sub(n1,n2):
    return n1-n2

In [24]:
print(sub(10,3))
print(sub(3, 10))
print(sub(n2 = 3, n1 = 10))

7
-7
7

In [28]:
print('king','son', sep=' | ' , end = '\t')
print('park')

king | son	park

In [33]:
# 매개변수사 몇개인지 몰라???!!
#전달되는 모든 매개변수 숫자를 더합 닶을 반환하는 함수

def add_all_sum(*args) :
    print(args, type(args))

    sum = 0

    for num in args:
        sum += num
    return sum


add_all_sum(1,2,3,4)

(1, 2, 3, 4) <class 'tuple'>

10

In [34]:
# 연산기호와 전달되는 숫자를 받아서
# 연산의 결과를 반환하는 함수

def proc_type(type, *args) : 
    print(type, args)
    if type == '+':
        result = 0
        for num in args:
            result += num
        return result

    elif type == '*':
        result = 1
        for num in args :
            result *=num
        return result

    else :
        print('사용 가능한 연산이 아닙니다. 다시 입력해주세요.')

In [37]:
proc_type('+', 1,2,3)

+ (1, 2, 3)

6

In [ ]:
# 함수의 반환 값은 하나다!!
# 여러개의 값을 반환 할 떄는 tuple이나 kist 타입으로 데이터로 묵어서 반환

def add_mul_return(n1, n2):

    return(n1+n2, n1*n2)

In [ ]:
result1, result2 = add_mul_return(10,20)
print(result, result2)

In [41]:
#문제 발생!!!
add_mul_return()

TypeError: add_mul_return() missing 2 required positional arguments: 'n1' and 'n2'

In [42]:
def add2(n1, n2):
    return n1+n2

In [44]:
# 이름, 나이, 성별(기본값:True)을 받아서 출력하는 함수

def say_hi(name, age, gender = True) : # gender=True => 여성
    print(f'안녕하세요 저는 {name}입니다. 나이는 {age}살 입니다.', end = ' ')

    if gender :
        print('여성입니다.')
    else : 
        print('남성입니다.')

In [46]:
say_hi('king', 20, False)
say_hi('king', 20)

안녕하세요 저는 king입니다. 나이는 20살 입니다. 남성입니다.
안녕하세요 저는 king입니다. 나이는 20살 입니다. 여성입니다.

In [ ]:
# 변수의 scope => 범위

a = 1

def var_test(a) :
    print('함수 내부의 매개변수 a :', a) # 함수에서 선언된 변수가 우선이다.

In [51]:
var_test(10)
print(a)

함수 내부의 매개변수 a : 10
1

In [57]:
def var_test2() :
    global a
    a = a+1
    print(a)

In [58]:
var_test2()

2

In [59]:
print(a)

2

In [61]:
#lambda 함수 => 한줄로 간단하세 표현하는 익명 함수
# 이름 = lambda arg1, arg2, ... : 연산 (반환값)
# 숫자 두개를 전달받아 덧셈한 결과를 반환하는 함수

add3 = lambda n1, n2, : n1+ n2

In [62]:
add3(10,40)

50

In [63]:
# 내장 함수: 파이썬 설치 => 기본적으로 제공하는 함수
# enumerate : 리스트 처리시에 index값을 사용할 수 있도록 해주는 함수
# 학생 리스트, index 값을 함께 출력
st_names = ['king', 'son', 'cool', 'hot']

In [64]:
index = 0

In [70]:
for index, name in enumerate(st_names, start = 1) :
    print(index, name)
    index += 1

1 king
2 son
3 cool
4 hot

In [71]:
# filter : 원본 리스트의 데이터들을 필터링해서 새로운 리스트를 만들어서 반환하는 함수
# 필터링 하는 함수를 매개 변수로 받는다!
# filter(function, list)
# 판별 함수

def positive_fn(x) :
    return x>0

In [73]:
list(filter(positive_fn, [3,1,7,-8,0,-1, -3, 10]))

[3, 1, 7, 10]

In [74]:
list(filter(lambda x : x>0, [3,1,7,-8,0,-1, -3, 10]))

[3, 1, 7, 10]

In [75]:
# map : 원본 리시트의 값을 기반으로 연상한 결과 값들을 이용해서 새로운 리스트를 생성하고 반환

list (map (lambda x : x*10, [1,2,3,4,5]))

[10, 20, 30, 40, 50]

In [ ]:
# 1 부터 100 까지의 합을 구하는 프로그램 작성

a = 1
for a in rnage(100) :
    a += a

print(a)