### 2025.12.30

In [1]:
#리스트 : 순서를 가지는 데이터의 묶음(객체) => [ ]
#index 값으로 각 데이터를 참조한다 => 0 ~ N(요소의 개수)-1

list_a = [1, 2, 3]
#index    0  1  2
#요소의 개수 => 3개

In [4]:
print(list_a, type(list_a))

[1, 2, 3] <class 'list'>

In [5]:
#요소의 참조 : 변수처럼 사용

list_a[2]

3

In [6]:
list_a[2] + list_a[1]

5

In [ ]:
#리스트 요소값의 변경
list_a[2] = 4

In [8]:
list_a[2]

4

In [10]:
list_a[-2]

2

In [11]:
list_a[len(list_a)-1]

4

In [23]:
list_b = [1, 2, 3, ['a', 'b', 'c']]
#         0  1  2         3
#        [int, int, int,  list]

In [25]:
list_b[3] = [10, 20, 30]

In [26]:
print(list_b[0])
print(list_b[1])
print(list_b[2])
print(list_b[3])
print(list_b[3][0])
print(list_b[3][1])
print(list_b[3][2])

1
2
3
[10, 20, 30]
10
20
30

In [27]:
list_c = [1, 2, 3, 4, 5]
#         0  1  2  3  4

In [31]:
list_c[1:4]
list_c[:4]
list_c[1:]
list_c[:]

[1, 2, 3, 4, 5]

In [32]:
#리스트의 연산 : + , *
list_d = [100, 200, 300]

In [33]:
print(list_c, list_d)

[1, 2, 3, 4, 5] [100, 200, 300]

In [34]:
print(list_c + list_d)

[1, 2, 3, 4, 5, 100, 200, 300]

In [35]:
print(list_d + list_c)

[100, 200, 300, 1, 2, 3, 4, 5]

In [36]:
list_d*3

[100, 200, 300, 100, 200, 300, 100, 200, 300]

In [125]:
# 리스트에 데이터를 추가: 순서를 유지 => index 기준으로 데이터를 추가
# append : 마지막 index뒤로 데이터 추가
# insert : 특정 index 위치에 데이터 추가

list_a = [1, 2, 3]

In [126]:
list_a.append(100)

In [127]:
list_a

[1, 2, 3, 100]

In [129]:
list_a.insert(0,500)
print(list_a)

[500, 1, 2, 3, 100]

In [ ]:
# 데이터 제거 : index 기준으로 삭제, 데이터 기준으로 삭제
# remove 
# pop

list_a.remove(500)
print(list_a)

ValueError: list.remove(x): x not in list

In [45]:
list_a.pop()

100

In [46]:
list_a

[1, 2, 3]

In [47]:
list_a.pop(1)

2

In [48]:
list_a

[1, 3]

In [49]:
#정렬: sort()
list_a = [1, 4, 9, 2, 10]
print(list_a)

[1, 4, 9, 2, 10]

In [ ]:
list_a.sort()
print(list_a)

[1, 2, 4, 9, 10]

In [51]:
list_a.reverse()
print(list_a)

[10, 9, 4, 2, 1]

In [55]:
# 특정 데이터의 index 값 찾기
list_a = [10, 2, 9, 4, 1]
print(list_a)

[10, 2, 9, 4, 1]

In [56]:
print(list_a.index(9))

2

In [57]:
# 리스트 데이터의 확장 => 현재 리스트에 리스트 데이터 추가
print(list_a)
list_a.extend([100, 1000, 10000])
print(list_a)

[10, 2, 9, 4, 1]
[10, 2, 9, 4, 1, 100, 1000, 10000]

In [58]:
#튜플: 리스트와 동일, 단 데이터의 변경 불가능 => 데이터를 안전하게 유지

t_1 =()
print(t_1, type(t_1))

() <class 'tuple'>

In [59]:
t_2 =(1, 2, 3, 4)
t_3 =(10, 20, 30, 40)

In [60]:
type(t_3)

tuple

In [63]:
# 참조 
t_3[0]

10

In [64]:
t_3[0] = 100

TypeError: 'tuple' object does not support item assignment

In [65]:
del t_3[0]

TypeError: 'tuple' object doesn't support item deletion

In [66]:
t_3[1:3]

(20, 30)

In [ ]:
a, b, c = (10, 20, 30) #특정 함수에서는 반환하는 데이터가 tuple 타입으로 반환하기도 한다

In [68]:
print(a, type(a))
print(a, type(b))
print(a, type(c))

10 <class 'int'>
10 <class 'int'>
10 <class 'int'>

In [69]:
t_2 + t_3

(1, 2, 3, 4, 10, 20, 30, 40)

In [70]:
t_2*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [71]:
#딕셔너리 : key:value 하나의 값으로 저장하는 데이터 구조
#{key1:value1, key2:value2, .....}

dict_1 = {}
print(dict_1, type(dict_1))

{} <class 'dict'>

In [72]:
dict_2 = {1 : 'a'}
print(dict_2, type(dict_2))

{1: 'a'} <class 'dict'>

In [75]:
#값을 추가 => key 정의 = 값

print(dict_2[1])
dict_2[2] = 'b'
print(dict_2)

a
{1: 'a', 2: 'b'}

In [76]:
print(dict_2)
dict_2[2] = 'c'
print(dict_2)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'c'}

In [78]:
dict_3 = {'names' : ['king', 'son', 'park']}

In [79]:
type(dict_3['names'])

list

In [83]:
print(dict_3['names'])
print(dict_3['names'][0])
print(dict_3['names'][1])
print(dict_3['names'][2])

['king', 'son', 'park']
king
son
park

In [84]:
#데이터 구조화
#학생 : 학번, 이름, 학과, 학년

student_1 = {

    'sno' : 1111,
    'name' : 'king',
    'major' : 'computer',
    'grade' : 4
}

In [86]:
#학번
student_1['sno']
#이름
student_1['name']

'king'

In [87]:
#이름, 국어, 영어, 수학 <= 구조화

student_2 = {
    'name' : 'son',
    'k_score' : 100,
    'e_score' : 90,
    'm_score' : 70
}

In [88]:
#축구 선수 손흥민의 데이터 구조화

player = {
    'team' : 'LA',
    'name' : 'SON',
    'number' : 7
}

In [92]:
print(player)
print(player.keys())
print(list(player.keys()))

{'team': 'LA', 'name': 'SON', 'number': 7}
dict_keys(['team', 'name', 'number'])
['team', 'name', 'number']

In [94]:
'name' in player

True

In [95]:
player.items()

dict_items([('team', 'LA'), ('name', 'SON'), ('number', 7)])

In [97]:
list_temp = list(player.items())

In [100]:
list_temp[0][1]

'LA'

In [102]:
player['pos']

KeyError: 'pos'

In [106]:
result = player.get('pos') #get(): Dict 키값으로 값을 반환 함수(메서드)
result1 = player.get('pos', 'noposition')
print(result)
print(result1)

None
noposition

In [107]:
#list,tuple, dict, set, print 사용금지 !!! 주의!!
# set : 집합 => 중복X, 순서X, 집합 연산 사용 (교집합, 합집합, 차집합)
set_1 = set([1,2,3,4,5,1,2,5])
set_1 = set([1,2,3,4,5,1,2,5])
print(set_1, type(set_1))

{1, 2, 3, 4, 5} <class 'set'>

In [109]:
set_2 = set('hello')
print(set_2)

{'o', 'e', 'h', 'l'}

In [110]:
list_temp2 = list(set_1)
print(set_1)

{1, 2, 3, 4, 5}

In [111]:
set_3= set([1,2,3,4,5,6])
set_4= set([4,5,6,7,8,9])

In [117]:
print(set_3 & set_4)
print(set_3 | set_4)
print(set_3 - set_4)
print(set_4 - set_3)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}

In [120]:
#데이타 하나 추가 : add
set_1.add(200)
print(set_1)

{1, 2, 3, 4, 5, 100, 200}

In [123]:
# 삭제 : remove 
set_1.remove(100)
print(set_1)

{1, 2, 3, 4, 5}

In [124]:
# 리스트 추가 
set_1.update([1,1,3,4,7,8,9])
print(set_1)

{1, 2, 3, 4, 5, 7, 8, 9}

프로그램의 흐름제어

In [133]:
#if : 분기 => ~라면, ~가 아니라면
#성인 판단 => 성인이라면 성인이 아니라면

age = 25

# 성이라면 -> 환영 메시지, 아니면 -> 킥~
if age >= 18:
    print('환영합니다.')
    print('서버에 접속합니다. 게입을 시작합니다!')
else :
    print('킥 ~~!!! 오면 안됩니다!!')

환영합니다.
서버에 접속합니다. 게입을 시작합니다!

In [134]:
# 짝수 / 홀수 판단 => 숫자 % 2 : 1 -> 홀수, 0 -> 짝수
# 숫자 데이터 기준 
# 짝수 홀수 비교 
# => 짝수/홀수 출력

num = 9
if num % 2 == 0 :
    print("짝수")
else:
    print("홀수")

홀수

In [137]:
# 양수, 음수, 0 판단해서 결과 출겨
# 숫자 데이터
# 양수 : num > 0
# 음수 : num < 0
# 0 : num > 0 아니고 num < 0

num1 = 0

if num1> 0 :
    print('양수')
elif num1< 0 :
    print('음수')
else:
    print('0')

0

In [139]:
# 운전명허 시험

score = 69
if score >= 70 :
    print('PASS')
else : 
    print('FAIL')

check_msg = 'PASS'

if score < 70:
    check_msg = 'FAIL'

print(check_msg)

FAIL
FAIL

In [141]:
check_msg = 'PASS' if score >= 70 else 'FAIL'
print(check_msg)

FAIL